{% load static %}
<html>
  <head>
    <title>Latest Bitcoin Price - ThePythonDjango.Com</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
      crossorigin="anonymous"
      />

    <link rel="preload"  href="{%  static  'css/style_1.css'  %}" as="style">
    <link rel="stylesheet"  href="{%  static  'css/style_1.css'  %}" data-n-g="">
    <noscript data-n-css=""></noscript>
  </head>
  <body style="margin: 20px">
    <div class="alert alert-dark" role="alert">
      <span style="font-size: 30px">Crypto Currency Latest Price</span>
      <span style="font-size: 15px"></span>
    </div>
    <table>
      {% for rowval in results %}    
         <tr>
          {% for key, value in rowval.items %}
              <td> {{ value }} </td>
      {% endfor %}
        </tr>
      {% endfor %}
    </table> 

  
  </body>
</html>
