{% extends 'base.html' %}
{% block Heading %}
<h1>CrpytoCurrency Market</h1>
{% endblock %}

{% block content %}
    <div class="limiter">
      <div class="container-table100">
        <div class="wrap-table100">
          <div class="table100">
            <table>
              <thead>
                <tr class="table100-head">
                  <th class="column1">id</th>
                  <th class="column2">Rank</th>
                  <th class="column3">Symbol</th>
                  <th class="column4">Name</th>
                  <th class="column5">Supply</th>
                  <th class="column6">Max Supply</th>
                  <th class="column7">Market Cap</th>  
                  <th class="column8">Volumeusd 24hr</th>
                  <th class="column9">PriceUSD</th>    
                  <th class="column10">Change% 24hr</th>
                  <th class="column11">vWap 24hr</th>
                      
                </tr>
              </thead>
              <tbody>
                {% for row in results %}
                <tr class="table100-head">
                  <td class="column1" ><a href= "/currency/{{ row.id }}">{{row.id}}</a></td>
                  <td class="column2">{{row.rank}}</td>
                  <td class="column3">{{row.symbol}}</td>
                  <td class="column4">{{row.name}}</td>
                  <td class="column5">{{row.supply|floatformat:4}}</td>
                  <td class="column6">{{row.maxSupply|floatformat:4}}</td>
                  <td class="column7">{{row.marketCapUsd|floatformat:4}}</td>  
                  <td class="column8">{{row.volumeUsd24Hr|floatformat:4}}</td>
                  <td class="column9">{{row.priceUsd|floatformat:2}}</td>    
                  <td class="column10">{{row.changePercent24Hr|floatformat:4}}</td>
                  <td class="column11">{{row.vwap24Hr|floatformat:4}}</td>
                  
                  <!--{% for key, value in row.items %}
                  <td class={{key}}>{{ value|floatformat:2 }}</td>
                  {% endfor %} -->
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}